<footer class="page-footer font-small special-color-blue pt-5">


    <div class="footer-flex justify-content-around">


        <div>
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <a href="http://localhost:8000/User/register" class="btn footer-btn text-white">Inscription</a>
                </li>
                <li class="list-inline-item">
                    <a href="http://localhost:8000/User/connect" class="btn footer-btn text-white">Connexion</a>
                </li>
            </ul>
        </div>

        <div class="footer-copyright text-center text-muted py-2">© 2020 Copyright:
            <a class="wcs" href="https://www.wildcodeschool.com/fr-FR/campus/bordeaux">WildCodeSchool</a>
        </div>

        <div>
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://github.com/guillaumebdx/bordeaux-202009-php-playlist/graphs/contributors"
                       class="btn-floating btn-lg btn-git">
                        <i class="fab fa-github mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="" class="btn-floating btn-lg btn-li">
                        <i class="fab fa-linkedin mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.wildcodeschool.com/fr-FR" class="btn-floating btn-lg btn-so">
                        <img class="pb-4" src="https://i.postimg.cc/XJSt2PZj/wcs-m.png" alt="wild code school">
                    </a>
                </li>
            </ul>
        </div>

    </div>


</footer>

