{% extends 'layout.html.twig' %}

{% block content %}
<form method="POST">
    <input type="hidden" value="{{ track.id }}" name="id">
    <input type="text" value="{{ track.title }}" name="title" placeholder="Titre de la chanson">
    <input type="text" value="{{ track.artist }}" name="artist" placeholder="Nom de l'artiste">
    <input type="url" value="{{ track.artist }}" name="url" placeholder="Url">
    <input type="submit" value="Valider">
</form>
{% endblock %}
