{% block content %}

<div>
    <img class="homeimg" src="/assets/images/test-done.svg"
         alt="img"
         height="750px"
         width=1300px>
    <p class="home-text">Laissez-vous porter par la musique.</p>

    <a mt-5 class="none" href="/track/add">
        <button class="btn-grad" >Ajouter une musique</button>
    </a>
</div>






    {% include '/Home/_dayPlaylist.html.twig' %}
    {% set tracks = tops %}
    {% include '/Home/_top.html.twig'%}
{% endblock %}
