{% block content %}
    <?php session_start(); ?>


    <a mt-5 class="none" href="/track/add">
        <button class="btn-grad" >Ajouter une musique</button>
    </a>

    {% include '/Home/_dayPlaylist.html.twig' %}
    {% include '/Home/_top.html.twig'%}
{% endblock %}
