{% extends 'layout.html.twig' %}


{% block content %}

    {% for track in tracks %}

        <div class="card-top">
            <div class="vidBx" data-text={{ track.artist }}>
                <iframe id="video" src="https://www.youtube.com/embed/{{ track.url }}?enablejsapi=1&html5=1.?modestbranding=1" rameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="content">
            <div>
                <h3>{{ track.title }}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor,</p>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}