{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Inscris-toi gratuitement</h2>
    <h4>afin de poster ta chanson quotidienne</h4>
    <form action="/user/add" method="post">
        <input type="hidden" value="{{ user.id }}" name="id">
        <div class="container-sm">
            <div class="row">
                <div class="col-md-6">
                    <label for="pseudo" class="mt-5">Ton pseudo</label><br>
                    <input class="w-100" type="text" value="{{ user.pseudo }}" name="pseudo" id="pseudo" placeholder="Shakira" required>
                </div>
                <div class="col-md-6">
                    <label for="password" class="mt-5">Ton mot de passe</label><br>
                    <input class="w-100" type="password" value="{{ user.password }}" name="password" id="password" placeholder="*****" required>
                </div>
                <div class="col-md-12">
                    <label for="email" class="mt-5">ici ton adresse email</label><br>
                    <input class="w-100" type="email" value="{{ user.email }}" name="email" id="email" placeholder="Shakira@yahoo.com" required>
                </div>
            </div>
        </div>
        <div class="mb-5">
        <button class="btn-grad mx-auto" type="submit">Ajouter</button>
        </div>
        </div>
        </div>
    </form>
    <h6 class="text-secondary pt-5">Déjà un compte ?
        <a class="pl-1 underline" href="/User/connect"> Connecte-toi !</a>
    </h6>
{% endblock %}